
<!--Grid row-->
<div class="row d-flex justify-content-center">

  <!--Grid column-->
  <div class="col-md-6">

<!-- Material form login -->
<div id="changecard" class="card">

  <h1 class="card-header white-text text-center py-4">
    <img src="https://i1.lensdump.com/i/jjVa5z.png">
  </h1>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0 text-center p-5">


    <div class="text-center" style="color: #52BA47;">



      <app-board></app-board>






  </div>

</div>

</div>
<!--Grid column-->

</div>
<!--Grid row-->
