
<h1 class="cpv d-inline">{{ player }}</h1>
<h1 class="cp d-inline">'s</h1>
<h1 class="cp d-inline"> turn</h1>
<br>
<button class="btn btn-light-green btn-lg text-white startgame" (click)="newGame()">Start new Game</button>
<br>
<br>

<h2 *ngIf="winner" class="text-success">
    <h1 class="font-weight-bold text-green"> {{ winner }}</h1> WINS!
</h2>


<main>
    <app-square
        *ngFor="let val of squares; let i = index"
        [value]="val"
        (click)="makeMove(i)">
    </app-square>
</main>
